<div class="container mt-5">

<a href="https://www.instagram.com/guiisho/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" width="300" height="300"></a>

<div class="container mt-5">
<a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsCZFHdfNvKbGghdFgSBkbZdDQLhsfTGLBJDmVZKcffQVkCpjGmmTFptszMtKmgZlNdGCgHV"> <img [border]="0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Logo_Gmail_%282015-2020%29.svg/2560px-Logo_Gmail_%282015-2020%29.svg.png" width="300" height="300"></a>
</div>
