<div class="card-group">
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/uploads/exercise/curl-de-biceps-con-barra-en-z-de-pie--7676%20.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CURL DE BÍCEPS CON BARRA</h5>
        <p class="card-text">Con un agarre supino a la barra se concentrará el bíceps en la fase concéntrica y se relajará en la fase excéntrica. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media/alta intensidad o hipertrofia/fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/curl-de-biceps-alterno-de-pie-con-mancuernas-y-giro-5218.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CURL DE BÍCEPS CON MANCUERNA</h5>
        <p class="card-text">Comenzando desde abajo con un agarre neutro y terminando hacia arriba con un agarre supino para mejorar la rotación de la muñeca y el bíceps.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small>
      </div>
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/curl-de-biceps-con-mancuernas-de-pie-agarre-tipo-martillo-9592.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CURL DE BÍCEPS MARTILLO</h5>
        <p class="card-text">Agarre neutro en fase concéntrica y excéntrica. Focalizado en el bíceps braquial para mejorar el aspecto de frente o delantero del brazo.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small>
      </div>
    </div>
    
  </div>

  <div class="card-group">
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/28882580.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BÍCEPS EN MÁQUINA SCOTT</h5>
        <p class="card-text">Máquina guiada, usada para aquellos que quieren ganar fuerza o un buen movimiento. Focaliza las mismas partes del bíceps.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media/alta intensidad o hipertrofia/fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/95183753.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BÍCEPS CON BARRA EN BANCO SCOTT</h5>
        <p class="card-text">Con los codos apoyados a la almohadilla y los brazos firmes. Fase concéntrica y excéntrica como un curl de biceps con barra común.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media/alta intensidad o hipertrofia/fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/6538358.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BÍCEPS CON MANCUERNA EN BANCO SCOTT</h5>
        <p class="card-text">Ejercicio alternado o simultáneo. Codos apoyados a la almohadilla y los brazos firmes. Mismos movimientos que un curl de bíceps con mancuerna común.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small>
      </div>
    </div>
  </div>
  