<div class="card-group">
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/media/cache/exercise_750/uploads/exercise/dominadas-2590%20.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DOMINADAS</h5>
        <p class="card-text">Excelente ejercicio para los dorsales. Subida explosiva y bajada concentrada para mayor maximización muscular. Agarre a la altura de los hombros o un poco más abiertas. Usado para ensanchar los laterales de la espalda.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de alta intensidad o fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/uploads/exercise/85563991.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DORSALERA</h5>
        <p class="card-text">La variación de la dominada. Su función principal es aprender el movimiento concéntrico y excéntrico del dorsal. Barra por debajo de la barbilla y subida completa. Ayuda a ganar fuerza en el principiante.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small>
      </div>
    </div>
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/media/cache/exercise_750/uploads/exercise/remo-con-barra-de-pie-5662%20.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REMO BAJO CON BARRA</h5>
        <p class="card-text"> El remo bajo con barra consiste en poner el torso inclinado a 45° delante y llevar los codos hacia atrás con la barra por debajo del pecho. Ayuda a la zona medial de la espalda y complementa a los dorsales.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de alta intensidad o fuerza</small>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/remo-con-mancuerna-con-rodilla-apoyada-4396.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REMO BAJO CON MANCUERNA</h5>
        <p class="card-text"> Ejercicio de media/alta intensidad o hipertrofia/fuerza.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media/alta intensidad o hipertrofia/fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/remo-horizontal-sentado-con-polea-1233.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REMO MEDIO</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de media/alta intensidad o hipertrofia/fuerza</small>
      </div>
    </div>
    <div class="card">
      <img height="310rem" src="https://www.entrenamientos.com/uploads/exercise/extension-lumbar-en-silla-romana-3888.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LUMBARES</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ejercicio de baja/media intensidad o hipertrofia</small>
      </div>
    </div>
  </div>