<div class="card-group">
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/press-de-banca-con-barra-5740.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRESS PLANO CON BARRA</h5>
        <p class="card-text">Clasificado como el mejor ejercicio para la parte media del pectoral. Movimiento concéntrico y exéntrico hacia arriba y abajo con los brazos firmes y los codos cerca cuerpo.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
</div>
            <small class="text-muted">Ejercicio de alta intensidad o fuerza</small>
        </div>
      
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/29543492.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRESS PLANO CON MANCUERNA</h5>
        <p class="card-text">Una variación del Press Plano con Barra. Excelente ejercicio para series de altas repeticiones o fatiga muscular. Mismos movimientos.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
          </div>
            <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small></div>
      
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/press-pectoral-con-barra-banco-inclinado-4756%20.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRESS INCLINADO CON BARRA</h5>
        <p class="card-text">Clasificado como el mejor para desarrollar la parte superior del pectoral. Movimiento concéntrico y exéntrico hacia arriba y abajo con los brazos firmes y los codos cerca del cuerpo.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
          </div>
            <small class="text-muted">Ejercicio de alta intensidad o fuerza</small></div>
      
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_750/uploads/exercise/aperturas-en-maquina-contractor-3772%20.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PECK DECK O MARIPOSA</h5>
        <p class="card-text">Con los antebrazos pegados a la almohada, las manos firmes al agarre y los codos en flexión vertical, se hará una aducción hacia el centro para enfocar el trabajo en la zona media o la apertura del pectoral.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
            <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small></div>
      
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/uploads/exercise/52228836.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">POLEA CRUZADA AL PECHO</h5>
        <p class="card-text">Con la máquina "polea enfrentada" se hará una aducción hacia abajo a 45° del pectoral para desarrollar la parte mayor del pectoral. Excelente para series de altas repeticiones o fatiga muscular.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
          </div>
            <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small></div>
      
    </div>
    <div class="card">
      <img height="312rem" src="https://www.entrenamientos.com/media/cache/exercise_375/uploads/exercise/press-pectoral-con-mancuernas-en-banco-inclinado-7131.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PRESS INCLINADO CON MANCUERNAS</h5>
        <p class="card-text">La variación del Press Plano con Barra. Excelente ejercicio para series de altas repeticiones o fatiga muscular. Mismos movimientos.</p>
        </div>
        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
          </div>
            <small class="text-muted">Ejercicio de media intensidad o hipertrofia</small></div>
      
    </div>
  </div>